.list {
    width: 100%;
    height: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-db {
    width: 95%;
    height: 800px;
    background-color: rgba(0,0,0,0.1);
}

.list-db-list {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    background-color: rgba(0,0,0,0.1);
    padding-top: 20px;
}

.list-db-title {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-db-list-item {
    width: 50%;
    height: 75px;
    background-color: #64B986;
    border: 1px solid darkgreen;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-db-list-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-db-item-label {
    width: 35%;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.list-db-item-btn {
    width: 30%;
    height: 100%;
    border: 5px solid rgba(251,166,0,1);
    color: black;
    font-weight: bold;
}

.list-db-item-options {
    width: 60%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-db-header {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-db-header-options {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-db-see-all, .list-db-add {
    width: 100px;
    height: 45px;
    color: white;
    background-color: #64B986;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

