.welcome {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    margin-top: 10px;
    padding-top: 100px;
}

.options {
    width: 60%;
    height: 386px;
    margin-top: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-options-btn {
    width: 26%;
    height: 15%;
    border: 8px solid rgba(251,166,0,1);
    font-size: 24px;
    background-color: rgba(255,255,255,1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 100px;
}

.welcome-options-btn:hover {
    background-color: rgba(255,255,255,0.4);
}

p {
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: bold;

}